.main-meniu a:hover,
.main-meniu .active {
  color: var(--secondary-color);
}
.main-meniu {
  background-color: var(--primary-color-dark);
  padding: 0.5rem 1rem;
  font-size: 0.6rem;
}
.main-meniu a {
  color: var(--text-color);
  font-size: 1rem;
  text-decoration: none;
}
.main-meniu menu {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
